apiVersion: apps/v1
kind: Deployment
metadata:
  name: quick-calc
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: quick-calc
  template:
    metadata:
      labels:
        app: quick-calc
    spec:
      imagePullSecrets:
      - name: ghcr-secret
      containers:
      - name: quick-calc
        image: ghcr.io/mustapha-manssoum/quickcalc:466ef0fcab168f1e53e8f071d9b9e5d7db7b9f2c
        ports:
        - containerPort: 8080
        resources:
          limits:
            memory: "256Mi"
            cpu: "500m"
          requests:
            memory: "128Mi"
            cpu: "250m"
---
apiVersion: v1
kind: Service
metadata:
  name: quick-calc
  namespace: default
spec:
  selector:
    app: quick-calc
  ports:
  - port: 80
    targetPort: 8080
  type: ClusterIP
